#friend-control-bar{
    position: absolute;
    left: 64px;
    border: 1px solid rgb(229,229,229);
    width: 235.55px;
    height: 538px;
    background-color: white;
}
#friend-list{
    width: 100%; margin-top: 15px;
}
.friend-list-dom {
    width: 94%;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 6%;
    border-bottom: 1px solid rgb(229,229,229);
}
.friend-list-dom-img {
    width: 28px;
    margin-left: 20px;
    float: left;
    border-radius: 2px;
}
.friend-list-dom-name {
    width: 60%;
    margin-left: 23%;
    text-align: left;
    line-height: 28px;
    height: 45px;
    font-size: 14px;
}